<template>
  <div role="main" t="[aria-label]title.table">
    <table class="table table-hover person-table"       
          id="person-table"
          if.bind="persons.list.length !== 0">
      <thead>
        <tr>
          <th repeat.for="entry of schema"
              show.bind="entry.name !== 'id'"
              click-enter.delegate="persons.sort(entry.name, true)"
              scope="col"
              class="header-${entry.name}"
              aria-label="Sort"
              t="[aria-label]action.sort">
            <span class="fa fa-caret-${persons.sortDirection[entry.name] === 1 ? 'down' : 'up'}"></span>
            <span t="attribute.${entry.name}"
                  tabindex="0"
                  role="button">
                ${entry.name}
            </span>
          </th>
          <th class="header-delete" t="action.delete" aria-hidden="true" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr repeat.for="person of persons.list"
            show.bind='filter === "total" || person[filter]'
            class="${person === persons.lastAdded ? 'last-added-list' : ''}">
          <td class='name' scope="row" tabindex="0">${person.name}</td>
          <td repeat.for="entry of schema" show.bind="entry.filter">
            <checkbox 
                value.bind="person[entry.name]" 
                name.bind="entry.name"
                t="[aria]attribute.${entry.name}">
            </checkbox> 
          </td>
          <td>
            <action-confirm
                action.bind="persons.removePerson"
                handle.bind="person"
                cancel-subscriber.bind="domClickSubscriber">
              <span slot="action" class="delete fa fa-trash" t="[aria-label]action.delete" role="button" tabindex="0"></span>
              <span slot="question" t="confirm.delete">Are you sure?</span>            
              <span slot="yes" t="confirm.yes" role="button">Yes</span>
              <span slot="no" t="confirm.no" role="button">No</span>
            </action-confirm>
          </td>
        </tr>
        <tr if.bind="filter !== 'total' && !persons.lastAdded[filter] && persons.lastAdded" 
            class="last-added-hide">
          <td scope="row">${persons.lastAdded.name}</td>
          <td repeat.for="entry of schema" show.bind='entry.filter'>
            <checkbox 
                value.one-time="persons.lastAdded[entry.name]" 
                name.one-time="entry.name"
                t="[aria]attribute.${entry.name}">
            </checkbox>
          </td>
          <td>x</td>
        </tr>  
      </tbody>
    </table>
    <div if.bind="persons.list.length !== 0 
                  && filter !== 'total' 
                  && persons.count(filter) === 0 
                  & signal:'person-list-change'"
        class="alert alert-info"
        role="alert"
        aria-live="polite"
        t="info.no-person-selected">
      No person selected. Please select a filter bellow.
    </div>
    <div if.bind="persons.list.length === 0" 
        class="alert alert-info"
        role="alert"
        aria-live="polite"
        t="info.no-person-added">
      Please add your persons.
    </div>
  </div>
</template>
